extend /_includes/_layout
append variables
  //- Required
  - var pageTitle="page2";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;

  append addcss
    link(rel="stylesheet" href="../css/style.css")

block content
  include /_includes/_pageContent
